# Theoretical Questions

1. what are data structures, and why are they important?

Answer -- Data structure are ways to store and organize dat efficiency. They are important because they allow for efficientdata retrieval, modification adn managment, which is crucial for software development and optimization.

2. Explain the difference between mutalbe and immutable data types with example.

Answer -- Mutable data types can be modified after creation, such as list and dicitionaries.
immutable data type cannot be changed once created,like tuple and string

Example: i
List are mutable you can add , remove or change  element. my list [1,2], my_list[0] == 5 .
String and tuples are immutable- you cannot change them once they are defined : my_str = "hello" cannot not be altered directly

3. What are the main difference between list and tuple in python?

Answer -- list are mutable (can be modified), while tuples are immutable.

list are define using square bracket[],

and tuples use parentheses ().

4. Describe how dictonaries store data.

Answer -- Dictonaries store data in key_ value pairs , where each unique key maps  to a value. they are implemented using hash tables internally.allowing fast data access. For example my_dict = {"name": "Jhon", "age": 35} stores data with key like "name" and "age" .Key must be immutable types(e.g., string , number,tuples), and value can be of any data type

5. Why might you use a set insted of a list in python?

Answer -- Sets are used when you need to store unique value without duplicates. Unlike list, sets automactally eliminate repeted elements. For example, set ([ 1, 2, 2, 3]) because { 1,2,3}. Set also allow for faster memnership check (x in set) due tohash-based implemetation. They are useful for mathmetical operation like union, intersection, and difference. However, sets are unordered ad so not support indexing . whendata uniqueness and fast lookuo are priorities, sets are prefered over lits.

6. What is the string in python, and how is it differet from a list?

Answer -- A string in python is an immutable sequencece of character, enclosein single or double quotes, like "hello". List on the other hand, are mutable  and can contain elements of different data types, including strings, numbers, or even other lists. You can modify a list's element, but yuo cannot change individual characters in a string.  For example, you cna do my_list[0] == 5 , but my_str[0] == 'h' will raise an error . String are commonly used for text , while lists are for general collection of items

7. How do tuples ensure data integrity in Python?

Answer -- Tuple are immutabe, meaning ones they are created, their elements cannot be changed. This ensure that data stored in tuples remains constant throughout the program, which helps maintain data intrigity. For example,a tuple representation GPS coordination should not be altered after assingment. This makes tupe ideal for fixed data collections.Because of thei immutable, tuples can also be used as keys in dictonaries. their consistency and safty makes them useful in application where data must remain unchanged.

8. what is a hash table , and how does it relate to dictonaries in python?

Answer -- A hash table is a data structure that maps keys to values using a hash function. In Python, dictonaries are implemented using hash tables. When you stroe a key-value pair in a dictonaries , the key is hased to find an index in the internal storage, allowing fast acces to its value This makes lookups in dictonaries very efficent, with averge time complexity of o(1). Since hash table required immutable keys, dictonary keys must be types like string or numbers.

9. Can list contain  different type data types im python

Answer -- Yes, Python lists are flexible and can contain element of different data types. For example, a list caninclude integers, strings, floats and even other lists: [9, "python", 6.79, [7,2]]. this makes them varsatile for storing mixed data.

10. Explain why string are immutable in python.

Answere -- String in python are immutable, meaning their characters cannotnot be change after the string is created. This desing improved performance and memory optimization because pytho can safely reuse strings. it also help aviod unitended side sffect when passing string between fuctions
For example , tring to modify a character in "hello" directely will raise an error instend you must created a new string. Immutablity also makes string hashable, so they can be use as keys in dictonaries and elements in s

11. what advantage do dictionaries offer over lists for certain tasks?

Answer -- Dictonaaries provide faster acess to data  key, making lookups much more efficent (O(1) on average). They are ideal when data needs to be associated with unique identifiers, such as student names and their mark. Unlike lists, dictonaries dont't require searching through element to find a match. They also allow for btter data organization using key-value pairs For example accessing stuent[ "name" ] is faster and mor emeaningful tha  using and index in a list. This structure supports flexiblities and readable code.

12. Describe a scenario whre a tuple would be preferable over list.

Answer -- A tuple is preferable when a data should not be change throughout the program. For Exmple storig days of the week ("Monday", "Tuesday", ......"Sunday") ina tuple ensures that the sequence remains constant . Tuples also use less memory and are slightly faster than lists. since thy are immutable they can be used as keys i dictionaries ,unlike lists. Tuples enhance data safty and prevent accidental modifications. this makes them suitable for fixed collection of items.

13. How do set handle duplicate value in python?

Answer -- Sets automatically elimate duplicate values when they are created or update For instance set([ 1, 2, 3, 4, 5, ]) becomes {1, 2, 3, 4, 5}. this feature makes sets useful for filtering duplicates from data. Sets use hash based storage, so each element must be unique and hashable. When you add an element that already exist it won't be added again. This behaviour simlifies task like ensuring data uuniqueness and preforming operations like union or intersection of data set

14. How does the “in” keyword work differently for lists and dictionaries?

**Answer** - The in keyword in Python is used to check if a particular element exists within a collection, but it behaves differently depending on the data type. When used with a list, in checks whether a specific value is present in the list. For example, if you have a list of fruits, using 'apple' in fruits would return True if 'apple' is one of the list elements. On the other hand, when used with a dictionary, in checks for the presence of a key, not a value. So, if you have a dictionary like {'name': 'Alice', 'age': 30}, using 'name' in person would return True because 'name' is a key, while 'Alice' in person would return False because 'Alice' is a value, not a key. If you want to check for a value in a dictionary, you need to use in with dict.values() like 'Alice' in person.values(). Thus, while the in keyword provides a simple way to test membership, it is important to understand whether it checks keys or values depending on the data type involved.

In [ ]:
print("Example of lsit")
fruits = ['apple', 'banana', 'cherry']

print('banana' in fruits)
print('grape' in fruits)

print("Example of dictonary")
person = {'name': 'Alice', 'age': 30}

print('name' in person)
print('Alice' in person)

Example of lsit
True
False
Example of dictonary
True
False

15. Can you modify the elements of a tuple? Explain why or why not.

**Answer** - Tuples are implemented to be immutable objects in Python. This immutability ensures the integrity of the data and allows tuples to be hashable, which is important when using tuples as dictionary keys or set elements. Because of this, trying to assign a new value to a tuple’s element raises an error.

16. What is a nested dictionary, and give an example of its use case?

17. Describe the time complexity of accessing elements in a dictionary.

18. In what situations are lists preferred over dictionaries?

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

**Answer** -- Dictionaries are called unordered because the items inside don’t have a fixed order like a list. This means when you look at the items, they might not appear in the same order you added them (especially in older Python versions).

Because of this, you can’t get a value by its position like you do with lists. Instead, you always get values by using their keys — like looking up a word in a dictionary, you use the word itself, not its page number.

In newer Python versions (3.7 and later), dictionaries remember the order you added items, but you still get values by keys, not by their position.

So, the main point is: dictionaries store data by keys, not by order, and that’s how you retrieve data from them.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

**Answer** --  the difference between a list and a dictionary in term of data retrival

List: You retrieve data by its position (called an index). For example, the first item is at position 0, the second at position 1, and so on. You use numbers to get items, like my_list[2].

Dictionary: You retrieve data by its key (a unique name or label). Instead of numbers, you use keys to get values, like my_dict['name'].

# practical Question

1. write a code to create a string with your name and print it

In [ ]:
Name = ("Mohd Yamaan Rafe")
print("My Name is: ",Name)

My Name is:  Mohd Yamaan Rafe

2. Write a code to find the lengh of the string "Hello Word"

In [ ]:
str = ("Hello Word ")
len(str)

11

3. Write a code to slice the first 3 character from the string "Python Programing"

In [ ]:
word = "Python Programing"
slice = word[0:3]
print(slice)

Pyt

4.write a code to convert the string "hello"to uppercase

In [ ]:
str="hello"
str.upper()

'HELLO'

5. Write code to replace the word apple with orange in the string "I like apple"

In [ ]:
str = "I like Apple"
str.replace("Apple","Orange")

'I like Orange'

6. Write a code to create a list with number 1 to 5 and print it

In [ ]:
my_list=[1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

7. write a code to append the number 10 to the list [1,2,3,4]

In [ ]:
list = [1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

8. Write a code to remove the umber 3 from the lsit[1,2,3,4,5]

In [ ]:
list =[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

9. Write a code toacess the secound element inthe list ['a','b','c','d']

In [ ]:
my_list = ['a','b','c','d']
my_list[1]

'b'

10. Write a code to reverse the list [10,20,30,40,50]

In [ ]:
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tupple with the element 100,200,300

In [ ]:
tupple = (100, 200, 300)
print(tupple)

(100, 200, 300)

12. Write a code to acess the second to last element of the tuple('red', 'green', 'blue', 'yellow')

In [ ]:
tupple = ('red', 'green', 'blue', 'yellow')
tupple[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10,20,5,15)

In [ ]:
tuple =(10,20,5,15)
min(tuple)

5

14. Write a code to find the index of the element "cat" in the tuple ("dog","cat","rabbit")

In [ ]:
tupple = ("dog","cat","rabbit")
tupple.index("cat")

1

15. Write a code to create a tuple containing therr different fruits and check if "kiwi" in it

In [ ]:
tuple = ("apple","banana","kiwi")
"kiwi" in tuple

True

16. Write a code tocreate a set with the element "a","b","c" and print it

In [ ]:
set = {"a","b","c"}
print(set)

{'c', 'b', 'a'}

17. Write a code clear all the element of the set{1,2,3,4,5}

In [ ]:
set = {1,2,3,4,5}
set.clear()
print(set)

set()

18. Write a code to remove the element 4 from the set {1,2,3,4}

In [ ]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

19. write a code to find the union of two sets {1,2,3} and {3,4,5}.

In [ ]:
set1 = {1,2,3}
set2 = {3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

20. Write a  code to find intersection of two set{1,2,3} and {2,3,4}

In [ ]:
set1 = {1,2,3}
set2 = {2,3,4}
set1.intersection(set2)

{2, 3}

 21. Write a code to create a dictonary with keys "name" ,"age" and "city" and print it

In [ ]:
dict = {"Name": "Mohd Yamaan Rafe", "Age": 23, "City": "Prayagraj"}
print(dict)

{'Name': 'Mohd Yamaan Rafe', 'Age': 23, 'City': 'Prayagraj'}

22. Write a code to add a new ey_value pair "country" "usa" to the ditonary {"name":"Jhon", "city":"New York"

In [ ]:
dict = {"name":"Jhon", "city":"New York"}
dict["country"] = "usa"
print(dict)

{'name': 'Jhon', 'city': 'New York', 'country': 'usa'}

23. write a code acess the value associate with the key "name" in the dictonary {"name": "Alice","Age": 30

In [ ]:
dict = {"name": "Alice","Age": 30}
dict["name"]

'Alice'

24. writ a code to remove the key "age" from he dictonary {'name':'Bob', 'age': 22, 'city':'Paris'

In [ ]:
dict = {'name':'Bob', 'age': 22, 'city':'Paris'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'Paris'}

25. Write a code to check if the key "city exist inthe dictonary {'name':'Alice', 'city': 'Paris'}

In [ ]:
dict = {'name':'Alice', 'city': 'Paris'}
"city" in dict

True

26. write a code to create a list a tupple and dictionary {'name':'Alice', 'city': 'Paris'

In [ ]:
list =

27. Write a code to crate a list of 5 random number between 1 and 100, short it in ascending order, and print the result(replace)

In [ ]:
list = [46,34,77,88,21]
list.sort()
print(list)

[21, 34, 46, 77, 88]

28. Write a code to create a list with string and print the element at the third index.

In [ ]:
list = ["apple", "Banana", "Mango", "Kiwi", "Lichi"]
list[3]

'Kiwi'

29. Write a code to combine two dictonaried into one and print the result

In [ ]:
dict = {'name':'Alice', 'city': 'Prayagraj'}
dict1 = {'State':'Uttar Pradesh', 'Contry': 'India'}
dict.update(dict1)
print(dict)

{'name': 'Alice', 'city': 'Prayagraj', 'State': 'Uttar Pradesh', 'Contry': 'India'}

30. write a code to convert a list of string in to a set.

In [ ]:
my_list = ["apple", "banana", "apple", "orange", "banana"]
my_set = set(my_list)
print(my_set)